appdirs==1.4.0
coreapi==2.3.0
coreschema==0.0.4
Django==1.10.5
djangorestframework==3.5.3
drfdocs==0.0.11
itypes==1.1.0
Jinja2==2.9.5
Markdown==2.6.8
MarkupSafe==1.0
MySQL-python==1.2.5
packaging==16.8
Pygments==2.2.0
pyparsing==2.1.10
requests==2.13.0
six==1.10.0
uritemplate==3.0.0
