#main-nav {
    text-align: center;
}

.navbar-brand {
    float: center;
    height: 50px;
    padding: 5px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-brand > img {
    width: auto;
    height: 100%;
}