{% extends "base.html" %}

{% block title %}Beginning SensingBus Template{% endblock %}

{% block content %}

{% load static from staticfiles %}

<!--link rel="stylesheet" href="http://getbootstrap.com.vn/examples/equal-height-columns/equal-height-columns.css" /-->

<style>
.row-eq-height{
  display: flex;
  align-items: center;
}
</style>

<div class="col-md-8" id="welcome-pane">
  <h1>About SensingBus</h1>

  <p>SensingBus is a research project from the lab <a href="https://www.gta.ufrj.br">GTA</a>, from <a href="www.pee.ufrj.br/index.php/en/">Programa de Engenharia Elétrica</a> of Universidade Federal do Rio de Janeiro, in collaboration with <a href="http://www.pel.uerj.br/">Programa de Pós Graduação em Engenharia Elétrica</a>, from Universidade do Estado do Rio de Janeiro.</p>


  <h2>Team</h2>
  <div class="row row-eq-height">
    <div class="col-lg-2">
      <img src="{% static 'img/cruz.jpg' %}" class="img-circle" alt="cruz" height="80px" width="auto" vspace="10px" hspace="10px">
    </div>
    <div class="col-lg-10">
      <p><b>Pedro Cruz</b>: is pursuing his Doctor of Science degree in Electrical Engineering at UFRJ. His research interests include sensor networks and fog computing. Caminha has a Computing and Information Engineering degree from UFRJ.</p>
    </div>
  </div>
  <div class="row row-eq-height">
    <div class="col-lg-2">
      <img src="{% static 'img/silva.jpg' %}" class="img-circle" alt="silva" height="80px" width="auto" vspace="10px" hspace="10px">
    </div>
    <div class="col-lg-10">
      <p><b>Felipe F. da Silva</b>: is pursuing his Electronics and Computer Engineering degree at UFRJ. His research interests include cloud computing and network virtualization.</p>
    </div>
  </div>
  <div class="row row-eq-height">
    <div class="col-lg-2">
      <img src="{% static 'img/pacheco.jpg' %}" class="img-circle" alt="pacheco" height="80px" width="auto" vspace="10px" hspace="10px">
    </div>
    <div class="col-md-10">
      <p><b>Roberto G. Pacheco</b>: is pursuing his graduate degree in Electrical Engineering at UERJ. His research interests include computer networks, cloud computing and fog computing.</p>
    </div>
  </div>
  <div class="row row-eq-height">
    <div class="col-lg-2">
      <img src="{% static 'img/couto.png' %}" class="img-circle" alt="couto" height="80px" width="auto" vspace="10px" hspace="10px">
    </div>
    <div class="col-md-10">
      <p><b>Rodrigo S. Couto</b>: is an Associate Professor with Universidade do Estado do Rio de Janeiro (UERJ). His research interests include data center networks, cloud computing, network reliability, and network virtualization. Couto has a Doctor of Science degree in Electrical Engineering from Universidade Federal do Rio de Janeiro (UFRJ).</p>
    </div>
  </div>
  <div class="row row-eq-height">
    <div class="col-lg-2">
      <img src="{% static 'img/velloso.jpg' %}" class="img-circle" alt="velloso" height="80px" width="auto" vspace="10px" hspace="10px">
    </div>
    <div class="col-md-10">
      <p><b>Pedro B. Velloso</b>: is an Associate Professor with UFRJ. His research interests include routing, wireless networks, and future Internet. Velloso has a Doctor degree in Computer Science and Telecommunications from UPMC.</p>
    </div>
  </div>
  <div class="row row-eq-height">
    <div class="col-lg-2">
      <img src="{% static 'img/campista.jpg' %}" class="img-circle" alt="campista" height="80px" width="auto" vspace="10px" hspace="10px">
    </div>
    <div class="col-md-10">
      <p><b>Miguel Elias M. Campista</b>: is an Associate Professor with UFRJ. His research interests include wireless networking, cloud computing, and network science. Campista has a Doctor of Science degree in Electrical Engineering from UFRJ..</p>
    </div>
  </div>
  <div class="row row-eq-height">
    <div class="col-lg-2">
      <img src="{% static 'img/costa.png' %}" class="img-circle" alt="costa" height="80px" width="auto" vspace="10px" hspace="10px">
    </div>
    <div class="col-md-10">
      <p><b>Luís Henrique M. K. Costa</b>: is an Associate Professor with UFRJ. His research interests include routing, wireless networks, and future Internet. Costa has a Doctor degree in Computer Science from Université Pierre et Marie Curie (UPMC).</p>
    </div>
  </div>

  <h2>Acknowledgement</h2>
  <div class="row">
    <div class="col-md-12">
      <p><b>This project was funded by FAPERJ, CNPq and CAPES</b></p>
    </div>
  </div>


</div>

{% endblock %}