{% extends "base.html" %}

{% block title %}Beginning SensingBus Template{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-8" id="welcome-pane">
  <h2>Welcome to SensingBus</h2>
  <p>These are the API endpoints offered by the Publishing node of SensingBus.</p>
  </div>
</div>

<script src="//google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>

<!--link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"-->
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="fancy-collapse-panel">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">/measurements/
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              <h5>GET:</h5>
              <p>Returns a list with all the measurements that correspond to the filter.</p>
              <b>Parameters</b>
              <ul>
                <li><b>bus_name</b> <p>Defines a filter based on the name of the bus</p></li>
                <li><b>min_lat</b> <p>Defines a filter based on a minimum latitude</p></li>
                <li><b>max_lat</b> <p>Defines a filter based on a maximum latitude</p></li>
                <li><b>min_lng</b> <p>Defines a filter based on a minimum longitude</p></li>
                <li><b>max_lng</b> <p>Defines a filter based on a maximum longitude</p></li>
                <li><b>start_time</b> <p>Defines a filter based on a start time</p></li>
                <li><b>end_time</b> <p>Defines a filter based on an end time</p></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">/measurements_batch_sec/
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
              <h5>POST:</h5>
              <p>Receives data and stores it into the database.</p>
              <p>This URL is protected. Only devices with recognized certificates are allowed to perform POSTs.</p>
              <p>A batch of measurements is expected.</p>
              <p><b>No parameters</b></p>
              <p><b>Payload example:</b></p>
              <p> <pre class="prettyprint">{
        "stop_id": 1,
        "batches": [{
                "node_id": 1,
                "type": "data",
                "received": "25081617154300",
                "header": "datetime,lat,lng,light,temperature,humidity,rain",
                "load": ["25081616493200,-22.865690,-43.223827,999,35.00,31.00,781",
                        "25081616493300,-22.865690,-43.223831,999,35.00,31.00,777",
                        "25081616493400,-22.865690,-43.223831,999,35.00,31.00,775",
                        "25081616493500,-22.865690,-43.223831,998,35.00,31.00,779",
                        "25081616493600,-22.865690,-43.223831,999,35.00,31.00,773",
                        "25081616493700,-22.865690,-43.223831,999,35.00,31.00,784",
                        "25081616493800,-22.865692,-43.223831,999,35.00,31.00,782",
                        "25081616493900,-22.865692,-43.223835,999,35.00,31.00,787",
                        "25081616494000,-22.865692,-43.223835,999,35.00,31.00,779",
                        "25081616494100,-22.865694,-43.223831,999,35.00,31.00,778",
                        "25081616494200,-22.865694,-43.223831,998,35.00,31.00,785",
                        "25081616494300,-22.865694,-43.223835,999,35.00,30.00,780",
                        "25081616494400,-22.865694,-43.223835,999,35.00,30.00,780"
                ]
        }, {
                "node_id": 2,
                "type": "data",
                "received": "25081617154300",
                "header": "datetime,lat,lng,light,temperature,humidity,rain",
                "load": ["25081616493200,-22.865690,-43.223827,999,35.00,31.00,781",
                        "25081616493300,-22.865690,-43.223831,999,35.00,31.00,777",
                        "25081616493400,-22.865690,-43.223831,999,35.00,31.00,775",
                        "25081616493500,-22.865690,-43.223831,998,35.00,31.00,779",
                        "25081616493600,-22.865690,-43.223831,999,35.00,31.00,773",
                        "25081616493700,-22.865690,-43.223831,999,35.00,31.00,784",
                        "25081616493800,-22.865692,-43.223831,999,35.00,31.00,782",
                        "25081616493900,-22.865692,-43.223835,999,35.00,31.00,787",
                        "25081616494000,-22.865692,-43.223835,999,35.00,31.00,779",
                        "25081616494100,-22.865694,-43.223831,999,35.00,31.00,778",
                        "25081616494200,-22.865694,-43.223831,998,35.00,31.00,785",
                        "25081616494300,-22.865694,-43.223835,999,35.00,30.00,780",
                        "25081616494400,-22.865694,-43.223835,999,35.00,30.00,780"
                ]
        }, {
                "node_id": 3,
                "type": "data",
                "received": "25081617154300",
                "header": "datetime,lat,lng,light,temperature,humidity,rain",
                "load": ["25081616493200,-22.865690,-43.223827,999,35.00,31.00,781",
                        "25081616493300,-22.865690,-43.223831,999,35.00,31.00,777",
                        "25081616493400,-22.865690,-43.223831,999,35.00,31.00,775",
                        "25081616493500,-22.865690,-43.223831,998,35.00,31.00,779",
                        "25081616493600,-22.865690,-43.223831,999,35.00,31.00,773",
                        "25081616493700,-22.865690,-43.223831,999,35.00,31.00,784",
                        "25081616493800,-22.865692,-43.223831,999,35.00,31.00,782",
                        "25081616493900,-22.865692,-43.223835,999,35.00,31.00,787",
                        "25081616494000,-22.865692,-43.223835,999,35.00,31.00,779",
                        "25081616494100,-22.865694,-43.223831,999,35.00,31.00,778",
                        "25081616494200,-22.865694,-43.223831,998,35.00,31.00,785",
                        "25081616494300,-22.865694,-43.223835,999,35.00,30.00,780",
                        "25081616494400,-22.865694,-43.223835,999,35.00,30.00,780"
                ]
        }]

}</pre></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- CONATINER END -->
{% endblock %}
