{% extends "base.html" %}

{% load static from staticfiles %}
{% block title %}Beginning SensingBus Template{% endblock %}

{% block content %}

  <!-- Datetimepicker -->
  <script type="text/javascript" src="{% static 'js/moment.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>

  <link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.min.css' %}"/>

<div class ="container" style="height:87%; width:100%">
  <div class="row" style="height:100%; width:100%;">
    <div class="col-md-8" id="map" style="height:604px; width:600px;">
    </div>
    <div class="col-md-4" id="welcome-pane">
      <div class="panel panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading">Search Measurements</div>
        <div class="panel-body">
          <div class="form-group">

            <form id="visualization-search" method="POST" class="form-horizontal">
              {% csrf_token %}
              {{ form.non_field_errors }}
              {% for field in form %}


              <div class="form-group row">
                <label for="{{field.id_for_label}}" class="control-label col-xs-4">{{field.label}}</label>
                {% if not field.field.widget.attrs.type %}
                <div class="col-xs-8 ">
                  <input class="form-control" type="{{ field.field.widget.input_type }}" id="{{field.id_for_label}}" name="{{field.id_for_label}}" placeholder="{{field.initial}}" step="0.000001">
                </div>
                {% else %}
                  {% if field.field.widget.attrs.type == 'date' %}
                <div class="col-xs-8 input-group date" id="{{field.id_for_label}}" style="padding-left: 15px; padding-right: 15px;">
                  <input type="text" class="form-control" id="{{field.id_for_label}}" name="{{field.id_for_label}}" placeholder="{{field.initial}}"/>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
                </div>
                <!-- This script is here in order to be rendered by Django -->
                <script type="text/javascript">
                    $(function () {
                        $('#{{field.id_for_label}}').datetimepicker();
                    });
                </script>
                  {% endif %}
                  {% if field.field.widget.attrs.type == 'radio' %}
                <fieldset class="form-group">
                  <div class="col-xs-8 form-check">
                      {% for option in field.field.choices %}
                    <div class="radio">
                      <label class="form-check-label">
                        <input class="form-control form-check-input" type="radio" name="{{field.id_for_label}}" id="{{option.0}}" value="{{option.0}}">{{option.1}}
                      </label>
                    </div>
                      {% endfor %}

                  </div>
                </fieldset>
                  {% endif %}
                {% endif %}
              </div>
              {% endfor %}

              <button class="btn btn-primary" type="submit" id="search-button">Search</button>
            </form>
          </div>
        </div>
      </div> <!-- End Panel -->
    </div>
  </div>
</div>


<script
      src="https://maps.googleapis.com/maps/api/js?libraries=visualization">
</script>

<script type="text/javascript" src="{% static 'js/heatmap.js' %}"></script>
<script type="text/javascript" src="{% static 'js/gmaps-heatmap.js' %}"></script>


<script type="text/javascript" src="{% static 'js/visualize.js' %}"></script>

{% endblock %}